/* Top Portion */


#buttoncontainer {
	height: 75%;
	text-align: center;
	z-index: 4;
	opacity: 0.7;
}
#leftbutton {
	background-color: yellow;
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}
#time {
	margin: 4.5em 0 0 0;	
	font-weight: bold;
	color: gold;
}
#leftbuttontext {
	margin: -1.1em 0 0 0;	
	font-weight: bold;
	color: gold;
}
#rightbuttontext {
	margin: 4.5em 0 0 0;
	font-weight: bold;
	color: lightblue;
}
#rightbutton {
	background-color: navy;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
} 


/* Bottom Portion */

#lowerleftdiv {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: url(../images/peaceful.gif);
	background-size: cover;
}
#lowerrightdiv {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: url(../images/huricane.gif);
	background-size: cover;
}

#datacontainer {
	z-index: 1;
	background-color: white;
	opacity: 0.9;
	height: 50%;
}

#heartcontainer {
	position: absolute;
	height: 5.5em;
    width: 7em;
  	bottom: 30px; /* adjust */
  	right: 20%;
    background-color: red;
	border-radius: 9.375em 9.375em 0 0;
	opacity: 0.6;
	z-index: 1;
}
#heart-rate-value {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 20%;
    font-size: 2.2em;
    font-weight: bold;
    z-index: 3;
    margin-top: 55%;
    margin-left: -20%;
    color: red;
    opacity: 0.5;
}
#heart {
    position: fixed;
    width: 40%;
    height: 30%;
    bottom: -1em;
    left: 2.5em;
    opacity: 0.5;
}
#heart-img {
    background-image: url(../images/heart.png);
    background-position: center;
    background-size: cover;
}
#measuring-info {
    position: absolute;
    float: left;
    margin-left: 1%;
    color: white;
    font-size: 1.25em;
}
@-webkit-keyframes heartMove360 {
    0%, 50%, 100% {
        width: 35%;
        height: 35%;
    }
    25%, 75% {
        width: 45%;
        height: 45%;
    }
}
@media screen and (-tizen-geometric-shape: circle) {
    #measuring-info {
        position: relative;
        margin-left: 7%;
    }
    #heart-img {
        width: 45%;
        height: 45%;
    }
    .animate {
        -webkit-animation: heartMove360 1.5s infinite;
    }
}

#accelerometercontainer {
	position: absolute;
	height: 3.5em;
    width: 6em;
  	bottom: 0;
  	right: 22.5%;
    background-color: orange;
	border-radius: 9.375em 9.375em 0 0;
	opacity: 0.7;
	z-index: 2;
}
#accelerometerdata {
	color: green;
	font-size: 0.63em;
	text-align: center;
}

#timercontainer {
	position: absolute;
	height: 2.5em;
    width: 5em;
  	bottom: 0;
  	right: 27.5%;
    background-color: yellow;
	border-radius: 9.375em 9.375em 0 0;
	opacity: 0.8;
	z-index: 3;
}
#timerdata {
	color: purple;
	font-size: 0.6em;
	text-align: center;
}
