/* #main {
  background-color: pink;
  width: 50%;
} */
#container {
	z-index: 1;
	background-color: white;
	opacity: 0.3;
	height: 25%;
}
#heart-rate-value {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 20%;
    font-size: 35px;
    font-weight: bold;
    z-index: 3;
    margin-top: 55%;
    margin-left: -20%;
    color: red;
    opacity: 0.5;
}

#heart {
    position: fixed;
    width: 40%;
    height: 30%;
    bottom: -1em;
    left: 2.5em;
    opacity: 0.5;
}

#heart-img {
    background-image: url(../images/heart.png);
    background-position: center;
    background-size: cover;
}

#measuring-info {
    position: absolute;
    float: left;
    margin-left: 1%;
    color: white;
    font-size: 20px;
}

.hide {
    display: none;
}

.info-text {
    text-align: left;
    color: #ffffff;
    font-size: 24px;
}

@-webkit-keyframes heartMove360 {
    0%, 50%, 100% {
        width: 35%;
        height: 35%;
    }
    25%, 75% {
        width: 45%;
        height: 45%;
    }
}

@media screen and (-tizen-geometric-shape: circle) {
    #measuring-info {
        position: relative;
        margin-left: 7%;
    }
    #heart-img {
        width: 45%;
        height: 45%;
    }
    .animate {
        -webkit-animation: heartMove360 1.5s infinite;
    }
    .info-text {
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }
}

#timercontainer {
    position: fixed;
    width: 13%;
    height: 13%;
    bottom: 0.9em;
    left: 4.5em;
    opacity: 0.5;
    background-color: yellow;
    z-index: 5;
}

#timerdata {
	color: purple;
	font-size: 10px;
}

#accelerometercontainer {
    position: fixed;
    width: 30%;
    height: 13%;
    bottom: 0.9em;
    left: 6.5em;
    opacity: 0.5;
    background-color: orange;
}
#accelerometerdata {
	color: green;
	font-size: 10px;
}
#buttoncontainer {
	height: 75%;
	text-align: center;
}
#yesbutton {
	background-color: #ff9e2c;
	position: absolute;
	left: 0px;
	width: 50%;
	height: 100%;
	opacity: 0.7;
}
#yesbuttontext {
	margin: 4.5em 0 0 0;	
	font-weight: bold;
}
#nobuttontext {
	margin: 4.5em 0 0 0;
	font-weight: bold;
}
#nobutton {
	background-color: #b6701e;
	position: absolute;
	right: 0px;
	width: 50%;
	height: 100%;
	opacity: 0.7;
} 


