node_modules/
dist/
temp/
.idea/
coverage
.env
*.env
ENV*
npm-debug.log
venv/
*pyc
*swp
*ipynb*
*txt
*log
*.vim
*.DS_store
experiments/*
*scratch*
pyignore*
notebooks/*
models/*
data/*
output/*
.idea/*
tags
*swo
*.env
*tmp*
.meta*
BendoProj
BendoProj/*
lib/*
UrbanOctopus/*
.settings/
.*
!/.gitignore
*.wgt
