/* Top Portion */

#buttoncontainer {
	height: 75%;
	text-align: center;
	z-index: 4;
}
#buttoncontainer:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  background: radial-gradient(ellipse, rgba(255,255,255,0) 25%,rgba(255,255,255,1) 100%);
  border-radius: 50%;
  pointer-events: none;
}
#leftbutton {
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	opacity: 0.7; /* change me! */
}
#time {
	margin: 4.5em 0 0 0;
	font-weight: bold;
	color: #d0e4e7;
}
#leftbuttontext {
	margin: -1.1em 0 0 0;
	font-weight: bold;
	color: #d0e4e7;
}
#rightbutton {
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	opacity: 0.7; /* change me! */
}
#rightbuttontext {
	margin: 4.5em 0 0 0;
	font-weight: bold;
	color: #d0e4e7;
}

/* Bottom Portion */

#lowerleftdiv {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: url(../images/peaceful.gif);
	background-size: cover;
}
#lowerrightdiv {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background: url(../images/huricane.gif);
	background-size: 100% 100%;
  box-shadow: -10px 0px 5px rgba(2,30,40,0.5);
}

#datacontainer {
	opacity: 0.9;
	height: 50%;
}

#heartcontainer {
	position: absolute;
	height: 6em;
  width: 10em;
	bottom: -17%; /* adjusts vertical location of heart container */
	right: 2.5%;
  background-color: #1bc5c6;
	border-radius: 50%;
	opacity: 0.6;
	z-index: 1;
  box-shadow: 5px -5px 5px rgba(2,30,40,0.9);
}
#heart-rate-value {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #d0e4e7;
}
#heart {
  visibility: hidden;
}
#heart-img {
  background-image: url(../images/heart.png);
  background-position: center;
  background-size: cover;
}
#measuring-info {
  position: absolute;
  float: left;
  margin-left: 1%;
  color: #d0e4e7;
  font-size: 20px;
}
@-webkit-keyframes heartMove360 {
  0%, 50%, 100% {
      width: 35%;
      height: 35%;
  }
  25%, 75% {
      width: 45%;
      height: 45%;
  }
}
@media screen and (-tizen-geometric-shape: circle) {
  #measuring-info {
    position: relative;
    margin-left: 7%;
  }
  #heart-img {
      width: 45%;
      height: 45%;
  }
  .animate {
      -webkit-animation: heartMove360 1.5s infinite;
  }
}

#accelerometercontainer {
  position: absolute;
  height: 3.9em;
  width: 8em;
  bottom: -10%; /* adjusts vertical location of accelerometer container */
  right: 12.5%;
  background-color: #3f5d68;
  border-radius: 50%;
  opacity: 0.7;
  z-index: 2;
  box-shadow: 5px -5px 5px rgba(2,30,40,0.9);
}
#accelerometerdata {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #d0e4e7;
}

#timercontainer {
	position: absolute;
	height: 2em;
  width: 6em;
  bottom: -5%; /* adjusts vertical location of timer container */
  right: 22.5%;
  background-color: #344d56;
	border-radius: 50%;
	opacity: 0.8;
	z-index: 3;
  box-shadow: 5px -5px 5px rgba(2,30,40,0.9);
}
#timerdata {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #d0e4e7;
}
